@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Sans-Serif";
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.cards-bg {
  background-color: #090A15;
}

*:has(.gradient-border),
*:has(.gradient-border1) {
  isolation: isolate;
}

.normal-gradient-border {
  position: relative;
  background-color: inherit;
}
.normal-gradient-border::before {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  z-index: -1;
  background-image: linear-gradient(90deg, #1f2129 0%, #979eb8 100%);
  border-radius: inherit;
}

.gradient-border,
.gradient-border1 {
  position: relative;
  background-color: inherit;
}
.gradient-border:hover::before,
.gradient-border1::before {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  z-index: -1;
  background-image: linear-gradient(90deg, #1F2129 0%, #979EB8 100%);
  border-radius: inherit;
}

.gradient-to-bottom {
  background: linear-gradient(180deg, #4B37BF, #7F69FF, #B862B0);
}

.gradient-to-right {
  background: linear-gradient(90deg, #4B37BF, #7F69FF, #B862B0);
}

.text-gradient {
  background: linear-gradient(180deg, #4B37BF, #7474B4, #B862B0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


/* audioStyles.css */
.custom-audio {
  width: 30vw;
  background-color: #4B37BF;
  color: white;
  border-radius: 0.5rem;
}

.custom-audio::-webkit-media-controls-panel {
  background-color: #4B37BF;
  border-radius: 0.5rem;
}

.custom-audio::-webkit-media-controls-play-button {
  color: #4B37BF;
}

.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display,
.custom-audio::-webkit-media-controls-timeline,
.custom-audio::-webkit-media-controls-volume-slider {
  color: white;
}
